<h1>Wineries</h1>
<hr>

<table class="table table-striped table-bordered">
  <tr>
  	<th>State</th>
    <th>Winery Name</th>
    <th>Owner Name</th>
    <th></th>
  </tr>

<% @wineries.each do |winery| %>
  <tr>
  	<td><%= winery.state %></td>
  	<% if winery.operating_name.empty? %>
  		<td><%= winery.owner_name %></td>
  	<% else %>
    	<td><%= winery.operating_name %></td>
    <% end %>
    <td><%= winery.owner_name %></td>
    <td><%= link_to 'View Details', winery %></td>
  </tr>
<% end %>
</table>



<%= will_paginate @wineries, :renderer => BootstrapPagination::Rails %>

<!-- <%= link_to 'New Winery', new_winery_path %> -->
