<!DOCTYPE html>
<html>
<head>
  <title>United States Winery Database</title>
  
  <script type="text/javascript" src="https://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyDVkGIvbCfS9J_3w1Se5mMooGDZInKBS_8"></script>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
		  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </a>
		  <a class="brand" href="#">U.S. Winery Database</a>
		  <div class="nav-collapse">
		    <ul class="nav">
		    	<% if current_page?(root_url) %>
		    	  <li class="active"><%= link_to raw('<i class="icon-home icon-white"></i> Home'), {:controller => 'home'}  %></li>
		    	<% else %>
		    		<li><%= link_to raw('<i class="icon-home icon-white"></i> Home'), {:controller => 'home'}  %></li>
		    	<% end %>
		    
					<% if current_page?(wineries_path) %>
					  <li class="active"><%= link_to raw('<i class="icon-glass icon-white"></i> Wineries'), {:controller => 'wineries'}  %></li>
					<% else %>
						<li><%= link_to raw('<i class="icon-glass icon-white"></i> Wineries'), {:controller => 'wineries'}  %></li>
					<% end %>
					
					<% if current_page?(about_path) %>
					  <li class="active"><%= link_to raw('<i class="icon-info-sign icon-white"></i> About'), about_path  %></li>
					<% else %>
						<li><%= link_to raw('<i class="icon-info-sign icon-white"></i> About'), about_path  %></li>
					<% end %>
		    </ul>
		    <ul class="nav pull-right">
		    	<% if current_user %>
		    	
		    		<% if current_page?(user_tour_path) %>
		    		  <li class="active"><%= link_to raw('<i class="icon-road icon-white"></i> My Tour'), user_tour_path %></li>
		    		<% else %>
		    			<li><%= link_to raw('<i class="icon-road icon-white"></i> My Tour'), user_tour_path %></li>
		    		<% end %>
		    		<li><%= link_to "Log out", log_out_path %></li>
		    	<% else %>
		    		<li><%= link_to "Sign up", sign_up_path %></li>
		    		<li><%= link_to "Log in", log_in_path %></li>
		    	<% end %>
		    
		    	
		    </ul>
		  </div><!--/.nav-collapse -->
		</div>
	</div>
</div>

<div style="margin-bottom: 20px;" class="container">

<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}", :class=>"alert alert-success" %>
<% end %>

<%= yield %>

</div>

</body>


</html>
